/* ==================================
default css start
================================== */
*{
    margin: 0;
    padding: 0;
}
.clearfixed::after{
    content: "";
    clear: both;
    display: block;
}
.container{
    width: 1200px;
    max-width: 97%;
    margin: auto;
}






/* ==================================
header section Start
================================== */
.header{
    background: #3498db;
}
.header-left{
    float: left;
    width: 30%;
}
.header-right{
    float: right;
    width: 70%;
}
img{
    max-width: 100%;
}

.header-left img{
    width: 200px;
}
.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    margin-left: -4px;
}
.header-right ul li:first-child{
    border-left: 1px solid #ddd;
}
.header-right ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    font-size: 20px;
    border-right: 1px solid #ddd;
    display: inline-block;
    line-height: 70px;
}
.header-right ul li a:hover{
    background-color: #2980b9;
    transition: .4s;
}





/* ==================================
banner section Start
================================== */
.banner{
    background-image: url(img/unnamed.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    background-attachment: fixed;

}
.banner-content{
    text-align: center;
}
.banner-content h2{
    background-color:  rgba(0, 0, 0, .5);
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 35px;
}
.banner-content h1{
    background-color:rgba(	52,	152, 219, .8);
    color: #fff;
    font-size: 40px;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px 0;
}





/* ==================================
About section Start
================================== */
.about{
    text-align: center;
    margin-top: 60px;
}
.about h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.about p{
    max-width: 700px;
    margin: auto;
    font-size: 19px;
}





/* ==================================
Service section Start
================================== */
.service{
    text-align: center;
    margin-top: 60px;
}
.service-item{
    float: left;
    width: 31.3%;
    border: 1px solid #ddd;
    padding: 25px 10px;
    box-sizing: border-box;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 0 10px ;
}
.service-item span{
    font-size: 35px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: #3498DB;
    border-radius: 20px 0;
    display: inline-block;
    color: #fff;
}
.service-item h3{
    margin: 20px 0;
    font-size: 30px;
}
.service-item p{
    font-size: 20px;
}




/* ==================================
Service section Start
================================== */
.blog-container{
    margin: 60px 0
}
.blog-left-content{
    float: left;
    width: 70%;
    text-align: justify;
}
.blog-right-notification{
    float: right;
    width: 25%;
}
.blog-item{
    margin-bottom: 20px;
}
.blog-item img{
    float: left;
    width: 150px;
    height: auto;
    margin-right: 15px;
}
.blog-item p{
    font-size: 18px;
line-height: 1.5em;
}

.blog-right-notification h2{
    font-size: 35px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.blog-right-notification ul{
    list-style: none;
}
.blog-right-notification ul li{
    border: 1px solid #ddd;
    background-color: #fafafa;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}




/* ==================================
footer section Start
================================== */
.footer{
    background-color: #2c3e50;
    color: #fff;
    padding: 15px 0;
}
.footer-left{
    float: left;
    width: 50%;
}
.footer-left p{}

.footer-right{
    float: right;
    width: 50%;
}

.socile-menu{
    text-align: right;
    margin-right: 50px;
}
.socile-menu li{
    display: inline-block;
}
.socile-menu li a{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    transition: .5s;
}
.socile-menu li a:hover{
    color: red;
}